{{ partial "header.html" . }}

<section class="section">
    <div class="container">

        <figure class="image is-128x128" style="margin-bottom: 2em;">
            <img class="is-rounded" src="/images/max.jpg" alt="picture of Max Harper">
        </figure>

        <h1 class="title">Max Harper</h1>
        <h2 class="subtitle">Social Computing and Recommender Systems Researcher</h2>

        <div class="content">
            {{ .Content }}

            <ul>
                {{ range where .Pages "Section" "post" }}
                <li><a href={{ .Permalink }}>{{ .Title }}</a></li>
                {{ end }}
            </ul>
        </div>

    </div>
</section>

{{ partial "footer.html" . }}