{{ partial "default_head.html" . }}

{{ range .Data.Pages }}
  {{if eq .RelPermalink "/index.html" }} {{.Content}} {{end}}
{{ end }}

<!-- Space delimited list of page types -->
{{ $paginator := .Paginate (where .Data.Pages "Type" "in" "post") }}

<p>Recently published posts:</p>
<div class="post">
  <h1 class="post-title">{{ .Title }}</h1>
  <ul id="list">
    {{ range .Paginator.Pages }}
      {{ .Render "li"}}
    {{ end }}

    {{ if $paginator.HasNext }}
      <li>more!</li>
    {{ end }}
  </ul>
</div>

{{ partial "default_foot.html" . }}
